extends layout

block content
  body
   div.header
     a(href="#")="新闻"
     a(href="#")="hao123"
     a(href="#")="地图"
     a(href="#")="视频贴吧"
     a(href="#")="学术"
     a(href="#").no="登录"
     a(href="#")#menu="设置"
     a(href="#")#blue="更多产品"

    div.con
     img(src="../images/bd_logo1.png").big
     div.search
       input(type="text")
       button="百度一下"
     img(src="../images/er.jpg").er
     h6="手机百度"
    div.footer
     a(href="#")="把百度设为主页"
     a(href="#")="关于百度"
     a(href="#")="About Baidu"
     a(href="#")="百度推广"
     p="©2017 Baidu 使用百度前必读 意见反馈 京ICP证030173号  京公网安备11000002000001号 "



